<nav>
    <div class="nav-wrapper indigo darken-4">
        <li class="brand-logo left"> Sammiches</li>
    </div>
</nav>

<div class="container row">
    <div class="row">
        <div class="col offset-s1">
            <h3>Add a Sammich</h3>
            <h6>Whip up something delicious to devour!</h6>
        </div>
    </div>
    <div class="row">
        <form class="create-form col s3 offset-s1">

            <div class="form-group">
                <label for="ca">Sammich Name:</label>
                <input type="text" id="sam" name="name">
            </div>

            <button class="btn-small indigo darken-3" type="submit" id="sam-create">Add Sammich</button>
        </form>
    </div>

    <div class="cat-pic">
        <img src="/assets/img/catSammich.jpeg" alt="catSammy" style="float:right;">
    </div>

    <div class="row">
        <div class="col offset-s1">
            <h3>Ready to Eat!</h3>
            <h6>Fresh off the meat rack, ready to be devoured</h6>

            <ul>
                {{#each sammich}}
                {{#unless devoured}}
                {{sammich_name}}
                {{> sammiches/sammich-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>

            <h3>They Gon' </h3>
            <h6>Already devoured sammiches! Make another to have some mo'</h6>

            <ul>
                {{#each sammich}}
                {{#if devoured}}
                {{sammich_name}}
                {{> sammiches/sammich-block devoured=true}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>